main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
.form{
    position: relative;
    top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    border: 5px solid #0075ff;
    box-shadow: 10px 10px 2px black;
    width: 500px;
    height: 450px;
    left: 120px;
    border-radius: 10px;
    /*grid-column-gap: 50px;*/
}
.form-label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.form-input-grup {
    position: relative;

}
.form-input {
    width: 50%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 30px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.form-input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.form-p-error {
    font-size: 12px;
    margin-bottom: 0;
    color: red;
}
.form-validation {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.form-grup-correct .form-validation {
    color: greenyellow;
    opacity: 1;
}
.form-grup-incorrect .form-label {
    color: red;
}
.form-grup-incorrect .form-validation {
    color: red;
    opacity: 1;
}
.form-grup-incorrect .form-input {
    border: 3px solid red;
}
.div-btn-reg {
    position: relative;
    top: 20px;
}
.btn-registrar {
    height: 50px;
    width: 150px;
    border-radius: 15px;
    border-style: none;
    background-color: #0077b6;
}
.div-btn-reg {
    height: 50px;
    width: 150px;
    border-radius: 15px;
    border-style: none;
    background-color: #0077b6;
}

@media screen and (max-width: 800px) {
    .form {
        grid-template-columns: 1fr;
    }


}

.foto{
    border-radius:600px;
    width: 60px;
    height: auto;
    
}