.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--navbar-bg-color);
}

.container img {
    transition: 1s;
    opacity: 0;
    width: 100vw;
    height: 400px;
}

.container .loaded {
    opacity: 1;
}

.container button {
    max-width: 40px;
}

.arrowPrev {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 225px;
    left: 0px;
    cursor: pointer;
}

.arrowNext {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 225px;
    right: 0px;
    cursor: pointer;
    transform: rotate(180deg);
}