.card {
    margin: 15px;
    width: 14vw;
    height: 45vh;
    /* padding: .8em; */
    background: #f5f5f5;
    position: relative;
    overflow-y: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImg {
    background-color: #252525;
    height: 50%;
    width: 100%;
    transition: .3s ease;
    border-bottom: 1px solid #ddd;
}

.containerTitle {
    height: 30%;
}

.card p {
    display: flex;
    text-align: center;
    font-size: 1em;
}

/* .cardInfo {
    padding-top: 10%;
} */

.footer {
    height: 20%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 10px;
    border-top: 1px solid #ddd;

    /* background-color: #252525; */
}

svg {
    position: relative;
    width: 20px;
    height: 20px;
    top: 3px;
    right: -1px;
}


/*Text*/
.textTitle {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.textBody {
    font-size: .9em;
    padding-bottom: 10px;
    overflow: hidden;
    max-height: 50px;
}


/*Button*/
.cardButton {
    width: 10%;
    height: 25%;
    border: 1px solid #252525;
    /* display: flex; */
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

.btnDetail {
    /* position: relative; */
    /* left: 10%; */
    height: 40%;
    border: 1px solid #252525;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

.cardButton:hover,
.btnDetail:hover {
    border: 1px solid #ffcaa6;
    background-color: var(--navbar-bg-color);
}

.linkTo {
    text-decoration: none;
    color: black;
}

.favorite {
    position: absolute;
    width: 18px;
    top: 2%;
    left: 87%;
    cursor: pointer;
}

@media only screen and (max-width: 1669px) {

    .card {
        height: 46vh;
    }

    .btnDetail {
        left: 20px;
    }

    .favorite {
        left: 90%;
    }
}

@media only screen and (max-width: 1400px) {
    .card {
        height: 46vh;
        width: 15vw;
        padding: 3px;
    }

}

@media only screen and (max-width: 1280px) {
    .card {
        height: 43vh;
        width: 19vw;
    }
}


@media only screen and (max-width: 1116px) {
    .card {
        height: 56vh;
        width: 19.7vw;
        padding: 3px;
    }

    .btnDetail {
        left: 20px;
    }

    .favorite {
        left: 90%;
    }
}

@media only screen and (max-width: 960px) {
    .card {
        height: 67vh;
        width: 30vw;
        padding: 3px;
    }

    .btnDetail {
        left: 35px;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        height: 43vh;
        width: 35vw;
    }

    .btnDetail {
        left: 35px;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        height: 31%;
        width: 65vw;
    }
}

@media only screen and (max-width: 563px) {
    .card {
        height: 16%;
        width: 85vw;
    }
}

@media only screen and (max-width: 414px) {
    .card {
        height: 55vh;
        width: 100vw;
    }
}