.body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 85vw;
    /* height: 100%; */
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 100%; */
}