.body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 75vw;

}

.containerCards {
    display: flex;
    flex-wrap: wrap;
}