.navbar {
    background-color: var(--navbar-bg-color);
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar h1 {
    position: relative;
    right: 310px;
    color: white;
}

.btnProducts {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-right: 15px;
}

.active {
    text-decoration: none;
}

.containerNoti {
    display: flex;
    position: relative;
    top: 4px;
}

.changuito {
    height: 30px;
}

.notiCantChanguito {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    right: 8px;
    top: -5px;
}

.cantChanguito {
    color: var(--navbar-bg-color);
    position: relative;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    right: 22px;
    top: -17px;
}

.account {
    position: relative;
    width: 30px;
    right: 20px;
    margin-bottom: 20px;
}

.account:hover{
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .navbar {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 620px) {
    .navbar {
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .logo {
        display: none;
    }
}