:root {
    --login-bg:#f8f3ff;
    --title-bg: #9089cc;
    --button-bg: #674baf;
    --light-pink: #e882e8;
    --image-bg:  #eadbff ;
}
.container-loggin {
    position: relative;
    top: -60px;
    left: 240px;
    height: 35em;
    width: 60em;
    margin: 6em auto;
    /*border-radius: 10px;*/
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}
.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}
.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.red-social {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-social img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}
.red-social:hover {
    background-color: #fff;
}
.info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}
.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}
.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.input:hover {
    border: 2px solid var(--button-bg);
}
.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}
.div-forguet {
    position: relative;
    right: 100px;
}
.inputs-container p {
    margin: 0;
}
.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}
.btn2 {
    margin-left: 15px;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
    padding: 3px 45px;
}