.body {
    display: flex;
    justify-content: center;
    /* background-color: black; */
}

.container {
    display: flex;
    height: 100vh;
    /* justify-content: center; */
    /* flex-direction: column; */
    width: 70vw;
}

.products {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.card {
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    width: 90%;
    height: 55px;
    padding: .8em;
    background: #f5f5f5;
    /* position: relative; */
    /* overflow: visible; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 7px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card p {
    padding-left: 50px;
}

.cancelBtn {
    align-self: flex-end;
    display: block;
    cursor: pointer;
    width: 25px;
}

.containerTotal {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.cardTotal {
    margin-top: 10px;
    width: 90%;
    padding: .8em;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 7px;
}

.comprarBtn {
    position: relative;
    top: 45px;
    background-color:var(--navbar-bg-color);
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family:Verdana;
    font-size:14px;
    font-weight:bold;
    border-radius: 4px;
    padding:5px 15px;
    text-decoration:none;
    border-color: var(--navbar-bg-color);
}
.comprarBtn:hover{
    background-color:white;
    color:var(--navbar-bg-color);
    
}

.title {
    padding-right: 60px;
    margin-left: auto;
    margin-top: 10%;
    justify-content: center;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-weight: "Lucida Console", "Courier New", monospace;
    color: var(--navbar-bg-color);
    text-decoration: none;
    /* margin- */
}

.total {
    font-weight:bold;
    justify-content: center;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-weight: "Lucida Console", "Courier New", monospace;
    color: var(--navbar-bg-color);
    text-decoration: none;
    /* margin- */
}
.verProductos {
    position: relative;
    margin-left: 30%;
    top: 45px;
    background-color:var(--navbar-bg-color);
    /* display:inline-block; */
    cursor:pointer;
    color:white;
    font-family:Verdana;
    font-size:14px;
    font-weight:bold;
    border-radius: 4px;
    padding:5px 15px;
    text-decoration:none;
    border-color: var(--navbar-bg-color);
}
.verProductos:hover{
    background-color:white;
    color:var(--navbar-bg-color);
    
}
